@media (min-width: 768px) {
    .maybe-like {

        margin-top: -7%;
        margin-left: 7%;
    }

    table {
        width: 100%;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .dropdown-header {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }

    #predefined-number {
        height: 100%;
        font-size: 85%;
    }

    .search-btn {
        margin-top: -15px;
        margin-right: 10px;
    }

    .form-predefined {
        margin-top: -40px;
    }


    .img-caption-right {
        position: absolute;
        bottom: 330px;
        left: 50px;
        z-index: 1;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }

    .img-caption-left {
        position: absolute;
        bottom: 330px;
        left: 450px;
        z-index: 1;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }


    .hotel-name {
        color: #0896ff;
    }

    .cheapest-roomtype {

    }

    .cheapest-roomtype-item {
        color: #0896ff;
        font-size: 80%;
    }

    .cheapest-roomtype-prise {
        margin-top: -70px;
        margin-left: 300px;
    }
    .cheapest-roomtype-prise h4{
        color: #0896ff;
        margin-top: -10px;
    }


    .img-caption-right + .cheapest-roomtype-info {
        margin-top: 42px;
    }

    .img-caption-left + .cheapest-roomtype-info {
        margin-top: 42px;
    }

    .hotel-table p{
        line-height: 80%;
        font-size: 80%;
        margin-left: 25px;
    }

    .list-hotel li{
        font-size: 90%;
        margin-left: 25px;
    }

    .hotel-book {
        color: #3c763d;
        font-weight: 900;
    }

    .recommend-hotel-divider {
        height:1px;
        border:none;
        border-top:2px dashed #1E90FF;
        margin-top: 60px;
        margin-bottom: 60px;
    }


    .foot-hr {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .foot {
        font-size: 12px;
    }

}

span.label-success {
    width: 45px;
    margin-left: 10px;
}

span .label-danger {
    width: 45px;
}