@media (min-width: 768px) {
    body {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        color: #5a5a5a;
    }

    .foot {
        margin-top: 30px;
        width: 100%;
        font-size: 12px;
    }
}

.blue {
    color: #428bca;
}

.tab-content {
    margin-top: 10px;
}

.font-size-20 {
    font-size: 20px;
    margin-bottom: -10px;
}

.font-size-16 {
    font-size: 16px;
}
.font-size-12 {
    font-size: 12px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.strong {
    font-weight: 800;

}

.small {
    font-size: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 15px;
}

.setting-hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.personal-detail-table tr > td:first-child{
    font-weight: 900;
}

.personal-detail-table tr > td:nth-child(2){
    color: #999999;
    width: 499px;
}

.personal-detail-table tr > td:last-child{
    font-weight: 400;
    text-align: right;
    font-size: 90%;
}

#Setting input[type="password"]:first-child {
  /*margin-bottom: 10px;*/
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
#Setting input[type="password"]:nth-child(2) {
  /*margin-bottom: 10px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.credit-cards-table-no-card {
    text-align: center;
    color: #999999;
}

.tabbable {
	*zoom:1
}
.tabbable:before,.tabbable:after {
	display:table;
	line-height:0;
	content:""
}
.tabbable:after {
	clear:both;
}
.tab-content {
	overflow:auto
}
.tabs-below>.nav-tabs,.tabs-right>.nav-tabs,.tabs-left>.nav-tabs {
	border-bottom:0
}
.tab-content>.tab-pane,.pill-content>.pill-pane {
	display:none
}
.tab-content>.active,.pill-content>.active {
	display:block
}
.tabs-below>.nav-tabs {
	border-top:1px solid #ddd
}
.tabs-below>.nav-tabs>li {
	margin-top:-1px;
	margin-bottom:0
}
.tabs-below>.nav-tabs>li>a {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px
}
.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus {
	border-top-color:#ddd;
	border-bottom-color:transparent
}
.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus {
	border-color:transparent #ddd #ddd #ddd
}

.tabs-left {
    min-height: 100%;
}

.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
	float:none
}
.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a {
	min-width:74px;
	margin-right:0;
	margin-bottom:3px
}
.tabs-left>.nav-tabs {
	float:left;
    /*min-height: 500px;*/
    height: 100%;
	margin-right:19px;
	border-right:1px solid #ddd
}
.tabs-left>.nav-tabs span {
    font-size: 12px;
}
.tabs-left>.nav-tabs>li>a {
	margin-right:-1px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}
.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus {
	border-color:#eee #ddd #eee #eee
}
.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus {
	border-color:#ddd transparent #ddd #ddd;
	*border-right-color:#fff
}
.tabs-right>.nav-tabs {
	float:right;
	margin-left:19px;
	border-left:1px solid #ddd
}
.tabs-right>.nav-tabs>li>a {
	margin-left:-1px;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}
.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus {
	border-color:#eee #eee #eee #ddd
}
.tabs-right>.nav-tabs .active>a,.tabs-right>.nav-tabs .active>a:hover,.tabs-right>.nav-tabs .active>a:focus {
	border-color:#ddd #ddd #ddd transparent;
	*border-left-color:#fff
}

.error {
    margin-top: -5px;
    color: firebrick;
}