@media (min-width: 768px) {
    body {
        margin-top: 100px;
        color: #5a5a5a;
    }

    span {
        display: block;
    }
    

    .hotel-info p{
        font-size: 12px;
    }
    #search-box {
        font-size: 75%;
    }

    .set-time {
        max-width: 95%;
        margin: auto;
    }

    #search-box input {
        font-size: 90%;
    }

}