@media (min-width: 768px) {
    body {
        margin-top: 100px;
        color: #5a5a5a;
    }

    .foot {
        margin-top: 30px;
        font-size: 12px;
    }

    a {
        color: #5a5a5a;
        text-decoration:none;
    }

    a:link {
        color: #5a5a5a;
        text-decoration:none;
    }

    a:active{
        color: #5a5a5a;
    }
    a:visited {
        color: #5a5a5a;
        text-decoration:none;
    }
    a:hover {
        color: #5a5a5a;
        text-decoration:none;
    }


    #search-box {
        font-size: 75%;
    }

    #search-box input {
        font-size: 90%;
    }

    .hotel-head {

    }

    .hotel-photo {
        width: 100%;
    }

    .hotel-local {
        /*font-size: 85%;*/
    }

    .hotel-info {
        font-size: 85%;
        /*line-height: 95%;*/
        margin-top: 20px;
        color: dimgrey;
    }

    .hotel-icon {
        color: #0896ff;
        font-size: 90%;
    }

    .search-result ul li{
        font-size: 85%;
    }


}