body {
    padding-top: 140px;
    padding-bottom: 40px;
    color: #5a5a5a;
    background-image: url(/static/image/1_1280.jpg);
    max-height: 500px;
}

.foot {
    margin-top: 150px;
    font-size: 12px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
  margin-left: 85px;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signup {
    width: 100%;
    text-align: right;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.foot {
    color: #eeeeee;
}

.foot a{
    color: #eeeeee;
}