body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #5a5a5a;
    max-height: 500px;
    background-image: url(/static/image/1_1280.jpg);
}

.sign-up-container{
    margin-top: 50px;
    margin-bottom: -150px;
}

.btn-submit {
    margin-top: 40px;

}

.sign-up-warn {
    width: 105%;
    margin-top: 20px;
    font-size: 12px;

}

.has-error {
    margin-top: 50px;
    max-width: 40%;
    margin-left: 25px;
}

.error {
    margin-top: -5px;
    color: firebrick;
}

.foot {
    margin-top: 60px;
    font-size: 12px;
    color: #eeeeee;
}

.foot a{
    color: #eeeeee;
}