{#Use at least one lowercase letter, one numeral, and seven characters.#}
{#Sign up for GitHub#}
{#By clicking "Sign up for GitHub", you agree to our terms of service and privacy policy.#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Booking.com</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/signup.css">
</head>
<body>
    <div class="container">
        <form role="form">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" required autofocus>
                    </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" required autofocus>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password *</label>
                    <input type="password" class="form-control" id="confirm_password" placeholder="Enter Password Again" required autofocus>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-submit">Sign up for Booking</button>
                <div class="sign-up-warn">
                <p>Use at least one lowercase letter, one numeral, and seven characters.</p>
                <p>By clicking "Sign up for Booking", you agree to our <a href="#">terms</a> of service and privacy <a href="#">policy.</a></p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
                    </div>
                <div class="form-group">
                    <label for="tel">Tel.</label>
                    <input type="text" class="form-control" id="tel" placeholder="Enter Your Phone Number">
                </div>
                <div class="form-group">
                    <label for="id_card">ID Card</label>
                    <input type="text" class="form-control" id="id_card" placeholder="Enter Your ID Card">
                </div>
                <div class="form-group">
                    <label for="credit_card">Credit Card</label>
                    <input type="text" class="form-control" id="credit_card" placeholder="Enter Your Credit Card">
                </div>
            </div>
        </form>
    </div>
    <div class="container has-error fade">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <label class="control-label"></label>
        </div>
    </div>

    <div class="container foot">
        <center>
            <p>Powered by Xindervella @ CSE, Southeast U, Nanjing.</p>
            <p>A free project Licensed under <a href="http://www.wtfpl.net/">WTFPL</a></p>
            <a href="mailto:xindervella@gmail.com">Email Me</a> </p>
        </center>
    </div>
    <script src="{{ STATIC_URL }}../static/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}../static/js/bootstrap.js"></script>

    <script>
        $('.btn-submit').on('click', function(){
            if($('#username')[0].value && $('#password')[0].value && $('#confirm_password')[0].value){
                $.ajax({
                    url: '/sign_up/aaaa',
                    type: 'POST',
                    data:{
                        'username': $('#username')[0].value,
                        'password': $('#password')[0].value,
                        'confirm_password':$('#confirm_password')[0].value,
                        'name': $('#name')[0].value,
                        'email': $('#email')[0].value,
                        'id_card': $('#id_card')[0].value,
                        'credit_card': $('#credit_card')[0].value
                    },
                    success:function(e){
                        if(e == 'success'){
                            window.location.replace("/");
                        }
                        else{
                            $('.has-error label').text(e);
                            $('.has-error').addClass('in');
                        }
                    },
                    error:function(e){
                        $('.has-error label').text("请检查网络");
                        $('.has-error').addClass('in');

                    }
                });
            }
        });
    </script>
</body>
</html>