<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Booking.com</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/bootstrap.css"/>
    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Booking</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li {% if url == "index" %}class="active"{% endif %}><a href="/">Home</a></li>
                            <li {% if url == "contact" %}class="active"{% endif %}><a href="#">Contact</a></li>
                            {% if not user %}<li {% if url == "sign_in" %}class="active"{% endif %}><a href={% url 'sign_in' %}>Sign in</a></li>
                            <li {% if url == "sign_up" %}class="active"{% endif %}><a href={% url 'sign_up' %}>Sign up</a></li>
                            {% else %}<li {% if url == "profile" %}class="dropdown active"{% else %}class="dropdown"{% endif %}>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">{% if user_detail.name %}{{ user_detail.name }}{% else %}{{ user.username }}{% endif %}</li>
                                    <li class="divider"></li>
                                    <li class="dropdown-content"><a href="{% url 'dash_board' %}">　<span class="glyphicon glyphicon-user"></span>　Profile</a></li>
                                    <li class="dropdown-content"><a href="{% url 'bookings' %}">　<span class="glyphicon glyphicon-tasks"></span>　Bookings</a></li>
                                    <li class="dropdown-content"><a href={% url 'sign_out' %}>　<span class="glyphicon glyphicon-share-alt"></span>　Sign out</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar end -->
    {% block content %}{% endblock %}

    <div class="container foot">
        <hr class="foot-hr" />
        <center>
            <p>Powered by Xindervella @ CSE, Southeast U, Nanjing.</p>
            <p>A free project Licensed under <a href="http://www.wtfpl.net/">WTFPL</a></p>
            <a href="mailto:xindervella@gmail.com">Email Me</a> </p>
            {% csrf_token %}
        </center>
    </div>
    <script src="{{ STATIC_URL }}../static/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}../static/js/bootstrap.js"></script>
    {% block script %}{% endblock %}
</body>
</html>