{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/application.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/dash_board.css"/>
{% endblock %}

{% block content %}
    <div class="container" id='myTab'>
        <div class="col-md-2 tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li {% if channel == 'profile' %} class="active" {% endif %}><a href="#Profile"><span class="glyphicon glyphicon-home"></span>　Profile</a></li>
                <li {% if channel == 'bookings' %} class="active" {% endif %}><a href="#Bookings"><span class="glyphicon glyphicon-book"></span>　Bookings</a></li>
                <li><a href="#Newsletters"><span class="glyphicon glyphicon-envelope"></span>　Newsletters</a></li>
                <li><a href="#Lists"><span class="glyphicon glyphicon-heart"></span>　Lists</a></li>
                <li><a href="#Setting"><span class="glyphicon glyphicon-wrench"></span>　Setting</a> </li>
            </ul>
        </div>
        <div class="col-md-10 tab-content">
            <!-- profile -->
            <div class="tab-pane fade {% if channel == 'profile' %} in active{% endif %}" id="Profile">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <label class="font-size-20">Hi ! <small>{{ user_detail.name }}</small></label>
                        <p><a class="small" href="#">Change your settings</a></p>
                    </div>
                    <div class="col-md-12 no-padding-left no-padding-right"><hr /></div>
                    <div class="col-md-3">
                        <label class="font-size-20 strong">{{ user_detail.travel_times }}</label>
                        <p class="small text-muted">Trips</p>
                    </div>
                    <div class="col-md-3">
                        <label class="font-size-20 strong">{{ user_detail.destination_number }}</label>
                        <p class="small text-muted">Places</p>
                    </div>
                    <div class="col-md-3">
                        <label class="font-size-20 strong">{{ user_detail.night_number }}</label>
                        <p class="small text-muted">Days away</p>
                    </div>
                    <div class="col-md-3">
                        <label class="font-size-20 strong">{{ user_detail.country_number }}</label>
                        <p class="small text-muted">Countries</p>
                    </div>
                    <div class="col-md-12 no-padding-left no-padding-right"><hr /></div>
                    <div class="col-md-12">
                        <label class="font-size-16 strong">Your past bookings</label>
                        <p><a class="small" href="#">See all</a></p>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="col-md-6">
                    <div id="search-box" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span>　Plan your next trip</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method='POST' action={% url 'search' %}>
                                {% csrf_token %}
                                <input type="hidden" name="type" value="search">
                                <div class="form-group">
                                    <label for="destination">Destination/Hotel Name:</label>
                                    <input type="text" class="form-control" id="destination-input"  name="condition" placeholder="e.g. city, region, district or specific hotel">
                                </div>
                                <div class="form-group">
                                    <table class="date-table">
                                        <tr>
                                            <td><label for="from">Check-in Date</label></td>
                                            <td><label for="to">Check-out Date</label></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="form-control" id="from-date" name="from-date" placeholder="DD/MM/YYYY"></td>
                                            <td><input type="text" class="form-control" id="to-date" name="to-date" placeholder="DD/MM/YYYY"></td>
                                        </tr>
                                    </table>

                                    <div class="checkbox">
                                        <label><input type="checkbox"> I don't have specific dates yet</label>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-lg btn-primary search-btn"> Search </button>
                                    </div>
                                </div>
                                <div class="form-group form-inline form-predefined">
                                    <label for="predefined-number">Guests </label></td>

                                    <select id="predefined-number" class="form-control" name="predefined-number">
                                        <option>1 Adult </option>
                                        <option>2 Adults (1 room)</option>
                                        <option>4 Adults (1 room)</option>
                                    </select>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 no-padding-right">
                        <label class="font-size-16 strong">Wish lists</label>
                        <p class="text-muted font-size-12">Save your favorite places + share them with friends and family.</p>
                    </div>
                    <div class="col-md-12 no-padding-left no-padding-right"><hr /></div>

                </div>
            </div>
            <!-- profile  end -->
            <!-- Bookings -->
            <div class="tab-pane fade {% if channel == 'bookings' %} in active{% endif %}" id="Bookings">
                <div class="col-md-11">
                    <div class="col-md-12">
                        <label class="font-size-20 margin-bottom-30 strong blue">Booking lists</label>
                        <table class="table">
                            <tr>
                                <th>Booking Num.</th>
                                <th>Hotel</th>
                                <th>Check-in Date</th>
                                <th>Check-out Date</th>
                                <th>Total Price</th>
                            </tr>
                            {% for booking_room in booking_rooms %}
                            <tr>
                                <td>{{ booking_room.booking_list.id }}</td>
                                <td>{{ booking_room.room.hotel }}</td>
                                <td>{{ booking_room.from_date }}</td>
                                <td>{{ booking_room.to_date }}</td>
                                <td>{{ booking_room.room.price }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
            <!-- Bookings end -->
            <div class="tab-pane fade" id="Newsletters">Newsletters</div>
            <div class="tab-pane fade" id="Lists">Lists</div>
            <!-- Setting -->
            <div class="tab-pane fade" id="Setting">
                <div class="col-md-11">
                    <div class="col-md-12">
                        <label class="font-size-20 strong  margin-bottom-10 blue">Setting</label>
                        <p class="text-muted font-size-12">Personal details, saved credit card info & newsletter subscriptions</p>
                        <label class="font-size-16 strong  margin-bottom-10 blue">Personal details</label>
                        <table class="table personal-detail-table">
                            <tr>
                                <td>Name</td>
                                <td>{% if user_detail.name %}{{ user_detail.name }}{% else %}Your name will be listed as the owner of this account{% endif %}</td>
                                <td><button class="btn-link set set-name">{% if user_detail.name %}Edit{% else %}Add your name{% endif %}</button> </td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{% if user_detail.address %}{{ user_detail.address }}{% else %}Required when booking{% endif %}</td>
                                <td><button class="btn-link set set-address">{% if user_detail.address %}Edit{% else %}Add your address{% endif %}</button> </td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{% if user_detail.country %}{{ user_detail.country }}{% else %}Add your country{% endif %}</td>
                                <td><button class="btn-link set set-country">Edit</button> </td>
                            </tr>
                           <tr>
                                <td>City</td>
                                <td>{% if user_detail.city %}{{ user_detail.city }}{% else %}Add your city{% endif %}</td>
                                <td><button class="btn-link set set-city">Edit</button> </td>
                            </tr>
                            <tr>
                                <td>Telephone</td>
                                <td>{% if user_detail.phone_number %}{{ user_detail.phone_number }}{% else %}Just in case Customer Service or the hotel need to contact you{% endif %}</td>
                                <td><button class="btn-link set set-tel">{% if user_detail.phone_number %}Edit{% else %}Add phone number{% endif %}</button> </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{% if user_detail.gender %}{{ user_detail.gender }}{% else %}Add your gender{% endif %}</td>
                                <td><button class="btn-link set-gender">Edit</button> </td>
                            </tr>
                            <tr>
                                <td>Smoking room</td>
                                <td>{% if user_detail.smoking_room %}{{ user_detail.smoking_room }}{% else %}We'll pre-select this when you book{% endif %}</td>
                                <td><button class="btn-link set-smoking-room">Edit</button> </td>
                            </tr>
                            <tr>
                                <td>Email address(es)</td>
                                <td>{% if user_detail.email %}{{ user_detail.email }}{% else %}Primary email{% endif %}</td>
                                <td><button class="btn-link set set-email">{% if user_detail.email %}Edit{% else %}Add your Email{% endif %}</button> </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>******</td>
                                <td><button class="btn-link set-password">Edit</button> </td>

                            </tr>
                            <tr><td>　</td><td>　</td><td>　</td></tr>
                        </table>
                        <label class="font-size-16 strong  margin-bottom-10 blue">Saved credit cards</label>
                        <p class="text-muted font-size-12">Your payment details are stored securely</p>
                        <table class="table credit-cards-table">
                            {% if not credit_card %}<tr class="credit-cards-table-no-card">
                                <td>No credit card info has been saved</td>
                            </tr>{% else %}
                                <tr>
                                    <td>{{ credit_card.number }}</td>
                                    <td>{{ credit_card.valid_thru }}</td>
                                    <td>{{ credit_card.cvc2 }}</td>
                                </tr>
                            {% endif %}
                            <tr><td>　</td></tr>


                        </table>
                    </div>
                </div>
            </div>

            <!-- Setting end -->
        </div>
    <div class="col-md-10 tab-content">

    </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{{ STATIC_URL }}../static/js/application.js"></script>
    <script src="{{ STATIC_URL }}../static/js/setting.js"></script>
    <script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
{% endblock %}
