{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/application.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/hotel.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-3">
             <div id="search-box" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>　Search</h3>
                    </div>
                    <div class="panel-body">
                        <p><small>387,000+ hotels, apartments, villas and more …</small></p>
                        <form role="form" method='POST' action={% url 'search' %}>
                            {% csrf_token %}
                            <input type="hidden" name="type" value="search">
                            <div class="form-group">
                                <label for="destination">Destination/Hotel Name:</label>
                                <input type="text" class="form-control" id="destination-input" name="condition" placeholder="e.g. city, region, district or specific hotel">
                            </div>
                            <div class="form-group">
                                <table class="date-table">
                                    <tr>
                                        <td><label for="from">Check-in Date</label></td>
                                        <td><label for="to">Check-out Date</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="from-date" name="from-date" placeholder="DD/MM/YYYY"></td>
                                        <td><input type="text" class="form-control" id="to-date" name="to-date" placeholder="DD/MM/YYYY"></td>
                                    </tr>
                                </table>

                                <div class="checkbox">
                                    <label><input type="checkbox"> I don't have specific dates yet</label>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="predefined-number">Guests </label></td>
                                    <select id="predefined-number" class="form-control" name="predefined-number">
                                        <option>1 Adult </option>
                                        <option>2 Adults (1 room)</option>
                                        <option>4 Adults (1 room)</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block search-btn"> Search </button>
                            </div>

                        </form>

                    </div>
                </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>{{ hotel.name }}</h2>
                </div>
                <div class="panel-body">
                    {% load markup %}
                    <div class="hotel-info">
                        {{ hotel.info|markdown }}
                    </div>
                    <hr />

                    {% if not is_set_time %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            请填写入住和退房日期以查看空房情况和客房价格
                        </div>
                        <br />
                        <div class="form-group">
                                <table class="date-table set-time">
                                    <tr>
                                        <td><input type="text" class="form-control" id="set-from-date" name="from-date" placeholder="Check-in Date"></td>
                                        <td><input type="text" class="form-control" id="set-to-date" name="to-date" placeholder="Check-out Date"></td>
                                        <td><button type="button" id="submit-set-time" class="btn btn-warning btn-block"> Submit </button></td>
                                    </tr>
                                </table>
                        </div>
                    </div>

                    {% else %}
                    <div class="hotel-rooms">
                        {% if rooms.length < 5 %}
                        <span class="label label-danger">剩余房间数量: {{ rooms|length }}</span>
                        {% elif rooms.length < 10 %}
                        <span class="label label-warning">剩余房间数量: {{ rooms|length }}</span>
                        {% else %}
                        <span class="label label-success">剩余房间数量: {{ rooms|length }}</span>
                        {% endif %}
                    </div>

                    <br/>

                    <div>
                        <table class="table table-striped">
                            <tr>
                                <th>入住人数限制</th>
                                <th>价格</th>
                                <th></th>
                            </tr>
                            {% for room in rooms %}
                            <tr>
                                <td>{{ room.people_limit }} 人</td>
                                <td>{{ room.price }}</td>
                                <td><a href='/room/{{ room.id }}'>预定</a></td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{{ STATIC_URL }}../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{{ STATIC_URL }}../static/js/application.js"></script>
    <script>
        $().ready(function(){

            $('#submit-set-time').on('click', function(){

                if(!$('#set-from-date')[0].value){
                    $('#set-from-date').focus();
                }
                else if(!$('#set-to-date')[0].value){
                    $('#set-to-date').focus();
                }
                else {
                    $.ajax({
                        url: {% url 'set_time' %},
                        type: 'POST',
                        data:{
                            'from_date': $('#set-from-date')[0].value,
                            'to_date': $('#set-to-date')[0].value
                        },
                        success:function(e){
                            if(e=='success'){
                                location.reload();
                            }
                            else{
                                $('#set-from-date').focus();
                            }
                        }
                    })
                }

            });
        });
    </script>
{% endblock %}