{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/carousel.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/application.css">
{% endblock %}

{% block content %}

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active">
            <img src="{{ STATIC_URL }}../static/image/1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>386,000多家酒店、公寓、别墅等住宿</h1>
                    <p>包括86,661家出租度假屋，59,583个目的地 386,784个住所</p>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{{ STATIC_URL }}../static/image/2.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>低廉的价格</h1>
                    <p>我们与成千上万家酒店协商后取得了他们最优惠的价格，只需订阅我们的简报便可免费获得这些优惠。您还可以选择您最喜爱的目的地以享受个性化的优惠</p>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{{ STATIC_URL }}../static/image/3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>协助任何预算的休闲旅客及商务人士轻松搜搜、预订并享受世界上最适合他们的住宿。</h1>
                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<!-- Carousel end -->

<div class="container">

    <!-- Search -->
    <div class="navbar navbar-static-top">
        <form id="quick-search" class="col-lg-6" method='POST' action={% url 'search' %}>
            {% csrf_token %}
            <input type="hidden" name="type" value="quick_search">
            <div class="input-group">
                <input type="text" name="condition" class="form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <h4 class="maybe-like">或许你会喜欢这里...</h4>
    </div>

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="{{ STATIC_URL }}../static/image/nanjing.jpg" alt="Generic placeholder image">
                <h2>南京<span class="text-muted"><small>中国</small></span></h2>
                <p>73家酒店, 21家公寓式酒店, 7间公寓,</p>
                <p> 5家旅舍, 1家汽车旅馆</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{{ STATIC_URL }}../static/image/suzhou.jpeg" alt="Generic placeholder image">
                <h2>苏州<span class="text-muted"><small>中国</small></span></h2>
                <p>99家酒店, 7家公寓式酒店, 2个度假村,</p>
                <p>2家宾馆, 1家住宿加早餐旅馆</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{{ STATIC_URL }}../static/image/xianggang.jpeg" alt="Generic placeholder image">
                <h2>香港<span class="text-muted"><small>中国</small></span></h2>
                <p>95家酒店, 120家旅馆, 12间公寓,</p>
                <p>9个度假村, 5家旅舍</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <!-- Search box -->
            <div class="col-md-7">
                <div id="search-box" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>　Search</h3>
                    </div>
                    <div class="panel-body">
                        <p><small>387,000+ hotels, apartments, villas and more …</small></p>
                        <form role="form" method='POST' action={% url 'search' %}>
                            {% csrf_token %}
                            <input type="hidden" name="type" value="search">
                            <div class="form-group">
                                <label for="destination">Destination/Hotel Name:</label>
                                <input type="text" class="form-control" id="destination-input" name="condition" placeholder="e.g. city, region, district or specific hotel">
                            </div>
                            <div class="form-group">
                                <table class="date-table">
                                    <tr>
                                        <td><label for="from">Check-in Date</label></td>
                                        <td><label for="to">Check-out Date</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="from-date" name="from-date" placeholder="DD/MM/YYYY"></td>
                                        <td><input type="text" class="form-control" id="to-date" name="to-date" placeholder="DD/MM/YYYY"></td>
                                    </tr>
                                </table>

                                <div class="checkbox">
                                    <label><input type="checkbox"> I don't have specific dates yet</label>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-lg btn-primary search-btn"> Search </button>
                                </div>
                            </div>
                            <div class="form-group form-inline form-predefined">
                                <label for="predefined-number">Guests </label></td>

                                <select id="predefined-number" class="form-control" name="predefined-number">
                                    <option>1 Adult </option>
                                    <option>2 Adults (1 room)</option>
                                    <option>4 Adults (1 room)</option>
                                </select>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <img class="img-rounded" src="{{ STATIC_URL }}../static/image/4.jpg" alt="Generic placeholder image">
            </div>
        </div>

{#{% regroup rooms by hotel.name as room_list %}#}
{##}
{#    {{ room_list }}#}



        <hr class="featurette-divider">

{% for city, hotel_dict in index_dict.items %}
    {% if forloop.counter != 2 %}
        <div class="row featurette">
            <div class="col-md-6">
                <img class="img-rounded" src="{{ STATIC_URL }}../static/image/{{ city }}.jpg" alt="Generic placeholder image">
                <div class="img-caption-right">
                    <h2>{{ city }}</h2>
                    <p>{% for key, value in hotel_number.items %}{% if city == key %}{{ value }}{% endif %}{% endfor %}个住宿</p>
                </div>
                {% for hotel, rooms in hotel_dict.items  %}
                <div class="cheapest-roomtype-info">
                <a href="/hotel/{{ hotel.id }}">
                    <ul class="list-group list-unstyled list-hotel">
                        <h5 class="hotel-name"><span class="glyphicon glyphicon-home"></span> {{ hotel.name }}</h5>
                        <li>{% for room in rooms %}{% if forloop.counter != 1 %}<span class="glyphicon glyphicon-user cheapest-roomtype-item"></span>{% if room.people_limit == '1' %} 单人间{% else %}<span class="glyphicon glyphicon-user cheapest-roomtype-item"></span>
                           双人间{% endif %} ￥{{ room.price }}　{% endif %}{% endfor %}
                        </li>
                        <li>全部 <strong>{{ hotel.up|add:hotel.down }}</strong> 条评价： <span class="glyphicon glyphicon-thumbs-up label label-danger"> {{ hotel.up }} </span><span class="glyphicon glyphicon-thumbs-down label label-success"> {{ hotel.down }}　</span> </li>
                        <li class="hotel-book">最新的预订： {{ hotel.nearest_booking|date:'M d, Y  H:m' }}</li>
                    </ul>
                    <div class="cheapest-roomtype-prise">
                        <p>起价：</p>
                        <h4>RMB  {{ rooms.0.price|floatformat:2 }}</h4>
                    </div>
                </a>
                </div>
                {% if forloop.counter != 2 and forloop.counter != 6%}<hr />{% endif %}
                        {% if forloop.counter == 2 %}
                </div>
            <div class="col-md-6">
                        {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr class="recommend-hotel-divider">
    {% else %}
        <div class="row featurette">
            <div class="col-md-6">
                {% for hotel, rooms in hotel_dict.items  %}
                    <div class="cheapest-roomtype-info">
                    <a href="/hotel/{{ hotel.id }}">
                        <ul class="list-group list-unstyled list-hotel">
                            <h5 class="hotel-name"><span class="glyphicon glyphicon-home"></span> {{ hotel.name }}</h5>
                            <li>{% for room in rooms %}{% if forloop.counter != 1 %}<span class="glyphicon glyphicon-user cheapest-roomtype-item"></span>{% if room.people_limit == '1' %} 单人间{% else %}<span class="glyphicon glyphicon-user cheapest-roomtype-item"></span>
                                双人间{% endif %} ￥{{ room.price }}　{% endif %}{% endfor %}
                            </li>
                            <li>全部 <strong>{{ hotel.up|add:hotel.down }}</strong> 条评价： <span class="glyphicon glyphicon-thumbs-up label label-danger"> {{ hotel.up }} </span><span class="glyphicon glyphicon-thumbs-down label label-success"> {{ hotel.down }}　</span> </li>
                            <li class="hotel-book">最新的预订： {{ hotel.nearest_booking|date:'M d, Y  H:m' }}</li>
                        </ul>
                        <div class="cheapest-roomtype-prise">
                            <p>起价：</p>
                            <h4>RMB  {{ rooms.0.price|floatformat:2 }}</h4>
                        </div>
                    </a>
                    </div>
                    {% if forloop.counter != 4 and forloop.counter != 6%}<hr />{% endif %}
                            {% if forloop.counter == 4 %}
                    </div>
            <div class="col-md-6">
                <img class="img-rounded" src="{{ STATIC_URL }}../static/image/{{ city }}.jpg" alt="Generic placeholder image">
                <div class="img-caption-left">
                    <h2>{{ city }}</h2>
                    <p>{% for key, value in hotel_number.items %}{% if city == key %}{{ value }}{% endif %}{% endfor %}个住宿</p>
                </div>
                        {% endif %}
            {% endfor %}
            </div>
        </div>
        {% if not forloop.last %}<hr class="recommend-hotel-divider">{% endif %}

    {% endif %}
{% endfor %}
        <!-- /END THE FEATURETTES -->
    </div>
</div>

{% endblock %}


{% block script %}
    <script src="{{ STATIC_URL }}../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{{ STATIC_URL }}../static/js/application.js"></script>
{% endblock %}