{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/application.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/search.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-3">
             <div id="search-box" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-search"></span>　Search</h3>
                    </div>
                    <div class="panel-body">
                        <p><small>387,000+ hotels, apartments, villas and more …</small></p>
                        <form role="form" method='POST' action={% url 'search' %}>
                            {% csrf_token %}
                            <input type="hidden" name="type" value="search">
                            <div class="form-group">
                                <label for="destination">Destination/Hotel Name:</label>
                                <input type="text" class="form-control" id="destination-input" name="condition" placeholder="e.g. city, region, district or specific hotel">
                            </div>
                            <div class="form-group">
                                <table class="date-table">
                                    <tr>
                                        <td><label for="from">Check-in Date</label></td>
                                        <td><label for="to">Check-out Date</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="from-date" name="from-date" placeholder="DD/MM/YYYY"></td>
                                        <td><input type="text" class="form-control" id="to-date" name="to-date" placeholder="DD/MM/YYYY"></td>
                                    </tr>
                                </table>

                                <div class="checkbox">
                                    <label><input type="checkbox"> I don't have specific dates yet</label>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="predefined-number">Guests </label></td>
                                    <select id="predefined-number" class="form-control" name="predefined-number">
                                        <option>1 Adult </option>
                                        <option>2 Adults (1 room)</option>
                                        <option>4 Adults (1 room)</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block search-btn"> Search </button>
                            </div>

                        </form>

                    </div>
                </div>
        </div>
        <div class="col-md-9">
            {% for hotel, rooms in search_result.items %}
            <a class="hotel-panel" href='/hotel/{{ hotel.id }}'>
            <div class="panel panel-default search-result">
                <div class="panel-body">
                    <div class="col-md-3 no-padding-left">
                        <img src="{{ hotel.photo.url }}" class="img-rounded hotel-photo">
                    </div>
                    <div class="col-md-9 no-padding-left hotel">
                        <ul class="list-group list-unstyled">
                            <h4 class="hotel-name"> {{ hotel.name }}</h4>
                            <li><p class="hotel-local"><span class="glyphicon glyphicon-map-marker hotel-icon"></span> {{ hotel.city }}, {{ hotel.state }}, {{ hotel.country }}　　　　　　　　　　　
                                全部 <strong>{{ hotel.up|add:hotel.down }}</strong> 条评价： <span class="glyphicon glyphicon-thumbs-up label label-danger"> {{ hotel.up }} </span><span class="glyphicon glyphicon-thumbs-down label label-success"> {{ hotel.down }}　</span></p></li>
{#                            <li><p>共有房间 {{ rooms|length }} </p></li>#}
                            <li><p>{% for room in rooms %}{% ifchanged room.people_limit %}{% if room.people_limit == '1' %}<span class="glyphicon glyphicon-user hotel-icon"></span> 单人间: {{ room.price }}　　　　{% elif room.people_limit == '2' %}<span class="glyphicon glyphicon-user hotel-icon"></span><span class="glyphicon glyphicon-user hotel-icon"></span> 双人间: {{ room.price }}　　　{% endif %}{% endifchanged %}{% endfor %}</p></li>
                            <li class="hotel-book">最新的预订： {{ hotel.nearest_booking|date:'M d, Y  H:m' }}</li>
                        </ul>
                    </div>
                        {% load markup %}
                            <div class="hotel-info">
                                {{ hotel.info|markdown|truncatechars:"120"}}
                            </div>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{{ STATIC_URL }}../static/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{{ STATIC_URL }}../static/js/application.js"></script>
{% endblock %}