{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/signin.css">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'sign_in' %}" method="post" class="form-signin" role="form">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br />
            <label class="form-signup"><a href={% url 'sign_up' %}>Have no account. Sign up now!</a></label>

        </form>

    </div>
{% endblock %}
