{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}../static/css/signup.css">
{% endblock %}
{% block content %}
    <div class="container sign-up-container">
        <form id="signup_form">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" class="form-control required" name="username" placeholder="Enter username">
                    </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control required" name="password" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password *</label>
                    <input type="password" class="form-control required" name="confirm_password" placeholder="Enter Password Again" required autofocus>
                </div>
                <button type="button" class="btn btn-lg btn-primary btn-block btn-submit">Sign up for Booking</button>
                <div class="sign-up-warn">
                    <p>Use at least one lowercase letter, one numeral, and seven characters.</p>
                    <p>By clicking "Sign up for Booking", you agree to our <a href="#">terms</a> of service and privacy <a href="#">policy.</a></p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
                    </div>
                <div class="form-group">
                    <label for="tel">Tel.</label>
                    <input type="text" class="form-control" name="tel" placeholder="Enter Your Phone Number">
                </div>
                <div class="form-group">
                    <label for="id_card">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Enter Your Address">
                </div>
                <div class="form-group col-md-6 no-padding-left">
                    <label for="credit_card">City</label>
                    <input type="text" class="form-control" name="city" placeholder="Enter Your City">
                </div>
                <div class="form-group col-md-6 no-padding-right">
                    <label for="credit_card">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Enter Your Country">
                </div>
                <div class="form-group col-md-3 no-padding-left">
                    <label for="credit_card">Zip code</label>
                    <input type="text" class="form-control" name="zip_code">
                </div>
            </div>
        </form>
    </div>

    <div class="container has-error fade">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <label class="control-label"></label>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}../static/js/jquery.validate.min.js"></script>
    <script>
        $().ready(function(){
            $('#signup_form').validate({
                rules:{
                    password: {
                        minlength: 7
                    },
                    confirm_password:{
                        minlength: 7,
                        equalTo: '[name="password"]'
                    }
                },
                messages: {
                   password: {
                        minlength: "At least seven characters."
                   },
                   confirm_password: {
                        minlength: "At least seven characters.",
                        equalTo: "The confirm password is different with password"
                   }
                }
            })
        });

        $('.btn-submit').on('click', function(){
            $('.has-error').removeClass('in');
            if(!$('[name="username"]')[0].value){
                $('[name="username"]').focus();
            }
            else if(!$('[name="password"]')[0].value){
                $('[name="password"]').focus();
            }
            else if(!$('[name="confirm_password"]')[0].value){
                $('[name="confirm_password"]').focus();
            }
            if($('[name="username"]')[0].value && $('[name="password"]')[0].value && $('[name="confirm_password"]')[0].value){
                $.ajax({
                    url: {% url 'sign_up' %},
                    type: 'POST',
                    data:{
                        'username': $('[name="username"]')[0].value,
                        'password': $('[name="password"]')[0].value,
                        'confirm_password':$('[name="confirm_password"]')[0].value,
                        'name': $('[name="name"]')[0].value,
                        'email': $('[name="email"]')[0].value,
                        'tel':$('[name="tel"]')[0].value,
                        'address': $('[name="address"]')[0].value,
                        'city': $('[name="city"]')[0].value,
                        'country': $('[name="country"]')[0].value,
                        'zip_code': $('[name="zip_code"]')[0].value
                    },
                    success:function(e){
                        if(e == 'success'){
                            window.location.replace("/");
                        }
                        else if(e == 'user already exist'){
                            $('[name="username"]').after('<label class="error">' + e + '</lable>');
                            $('[name="username"]').val('');
                            $('[name="username"]').focus();

                        }
                        else if(e == 'check password'){
                            $('[name="confirm_password"]').after('<label class="error">' + e + '</lable>');
                            $('[name="password"]').val('');
                            $('[name="confirm_password"]').val('');
                            $('[name="password"]').focus();
                        }
                        else{
                            $('.has-error label').text(e);
                            $('.has-error').addClass('in');
                        }
                    },
                    error:function(e){
                        $('.has-error label').text("请检查网络");
                        $('.has-error').addClass('in');
                    }
                });
            }
        });
    </script>
{% endblock %}
